variable "gcp_project_id" {
  type        = string
  description = "GCP Project ID"
  default     = "archgen-project"
}

variable "gcp_region" {
  type        = string
  description = "GCP Region"
  default     = "us-central1"
}
